html, body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 12px Arial, sans-serif;
    color: #666;
}

#site {
    position: relative;
    min-height: 100%;
    width: 960px;
    height: auto;
    margin: 0 auto;
    background-image: url(/media/images/shadow.png);
}

#header {
    width: 900px;
    height: 120px;
    background: url(/media/images/logo.png) no-repeat;
    background-position: 30px;
    line-height: 120px;
}

#title {
    padding: 0 0 0 120px;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
}

#subtitle {
    float: right;
    margin-right: -30px;
    font-size: 18px;
    font-style: italic;
}

span {
    color: #38a5ff;
}

#navigation {
    width: 900px;
    height: 24px;
    margin: 0 30px 0 30px;
    background-color: #38a5ff;
    border-bottom: 1px solid #fff;
}

#menu {
    margin: 0;
    padding: 0;
}

#menu li {
    height: 24px;
    display: inline;
    list-style: none;
}

#menu li a {
    color: #fff;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border-right: 1px solid #fff;
}

#menu li a:hover {
    background-color: #1793d1;
}

#content {
    background-color: #fff;
    border-right: 3px solid #38a5ff;
    width: 685px;
    height: 100%;
    margin-top: 15px;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

#content li {
    list-style: none;
    margin: 10px 0 10px 0;
}

#main {
    width: 685px;
    height: 100%;
    margin-bottom: 15px;
}

#main hr {
    border: 0;
    border-top: 2px dotted #ccc;
    margin: 0;
    height: 1px;
}

#main ul {
    padding: 0;
    padding-bottom: 10px;
}

#main p {
    line-height: 18px;
    color: #666;
    margin: 0 0 20px 0;
}

#main pre {
    font: 12px Arial, sans-serif;
    white-space: pre-wrap;
    color: #666;
    padding: 10px;
    border: 1px dotted #ccc;
}

#main a, #right p a {
    text-decoration: none;
    color: #256da8;
    border-bottom: 1px dotted #1793d1;
    padding: 2px;
}

#main a:hover, #right p a:hover  {
    text-decoration: none;
    color: #fff;
    background-color: #1793d1;
    padding: 2px;
}

#main img {
    background-color: #38a5ff;
    padding: 2px;
    border: 1px solid #1793d1;
}

#right {
    position: absolute;
    right: 45px;
    top: 145px;
    width: 155px;
}

#right p {
    line-height: 20px;
    font-size: 11px;
    color: #666;
}

#right ul {
    margin-bottom: 15px;
}

#right hr {
    border: 0;
    border-top: 1px dotted #ccc;
    height: 1px;
    margin-right: -10px;
}

#footer {
    background-color: #fff;
    position: absolute;
    left: 30px;
    bottom: 0;
    clear: both;
    border-top: 3px solid #38a5ff;
    width: 900px;;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    font-size: 11px;
    color: #aaa;
    z-index: 2;
}

#footer a {
    font-weight: bold;
    padding: 2px;
    color: #aaa;
}

#footer a:hover {
    color: #1793d1;
}

h1 {
    font-size: 22px;
    color: #666;
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 24px;
}

h2 {
    font-size: 16px;
    color: #38a5ff;
    padding: 5px 0 5px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    color: #38a5ff;
    padding: 5px 0 0 0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    }

h4 {
    font-size: 14px;
    color: #1793d1;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    }

#news {
    padding: 0;
    margin: 0;
}

#message {
    color: #38a5ff;
    width: 668px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    border: 1px solid #38a5ff;
    background-color: #eee;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

img.left {
    float: left;
    margin: 0 15px 5px 0;
}

img.right {
    float: right;
    margin: 0 0 5px 15px;
}

.label {
    color: #666;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
}

.field-align {
    color: #666;
    display: block;
}

.label-align {
    position: absolute;
    left: 100px;
}

.bullets {
    padding: 0 0 0 15px;
    background-image: url(/media/images/bullet.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.quote {
    margin-bottom: 15px;
    border: 1px solid #38a5ff;
    background-color: #eee;
    background-image: url(/media/images/quote.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 15px;
    text-indent: 35px;
    font-size: 14px;
    font-style: italic;
}

.code {
    margin-bottom: 15px;
    border: 1px solid #38a5ff;
    background-color: #eee;
    color: #1793d1;
    padding: 15px;
    font-family: monospace;
    font-size: 12px;
}
