{% extends "base.html" %}

{% block content %}
<p />
{% if user.is_authenticated %}
<p>{{ user.username }}! Here is a logout link just in case: <a href="{% url auth_logout %}">Logout</a></p>
<p>Solved one of the challenges and want to show it off: <a href="{% url challenge-solution-submit %}">Submit it!</a></p>
{% else %}
<p>New user (or one not logged in yet). <a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">register</a></p>
{% endif %}
<p>View the already submitted solutions here: <a href="{% url challenge-solution-list %}">Solutions</a></p>
{% endblock %}
