<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#archlinux-code: {{ title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Michael Fiano (axionix@gmail.com)" />
        <meta name="description" content="Arch Linux coding community" />
        <meta name="Robots" content="index,follow" />
        <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
        <div id="site">

            <div id="header">
                <div id="title">#archlinux-<span>code</span></div>
                <div id="subtitle">irc.freenode.net</div>
            </div>

            <div id="navigation">
                <ul id="menu">
                    <li><a href="#">home</a></li><li><a href="#">about</a></li><li><a href="#">challenges</a></li><li><a href="#">contact</a></li>
                </ul>
            </div>

            {% if message %}
                   <div class="block" id="message">{{ message }}</div>
            {% endif %}

            <div id="content">
                <div id="main">
                    <h1>{{ title }}</h1>
                    {% block content %}{% endblock %}
                </div>

                <div id="right">
                    <h4>Latest News</h4>
                    <ul class="list" id="news">
                        <li>Wraithan is coding</li>
                        <li>derrida is eating pizza</li>
                    </ul>
                    <hr />
                    <h4>Chat With Us</h4>
                    <p>
                    irc.freenode.net<br />
                    #archlinux-code<br />
                    </p>
                </div>
            </div>

            <div id="footer">
                &copy; 2009 archlinux-code. Use of this site constitutes acceptance of our <a href="#">License Agreement</a>. Source available on <a href="http://github.com/CodeBlock/ArchLinux-Code-Website">GitHub</a>. The Arch Linux name and logo are recognized trademarks.
            </div>

        </div>

   </body>
</html>
