{% extends "base.html" %}

{% block content %}
<p>{{ form.errors }}</p>
<form method="post" action="{% url challenge-submit-solution %}">
<table>
    <tr><th>{{ form.challenge.label_tag }}</th><td>{{ form.challenge }}</td></tr>
    <tr><th>{{ form.langauge.label_tag }}</th><td>{{ form.language }}</td></tr>
    <tr><th>{{ form.source.label_tag }}</th><td><textarea id="id_source" rows="30" cols="80" name="source"></textarea></td></tr>
</table>
<input type="submit" value="submit" />
</form>

{% endblock %}

